*{
    margin: 0;
    padding: 0;
}
#id1{
    width: 100%;
    height: 44px;
}
#id1>div{
    width: 40px;
    height: 44px;
    text-align: center;
    display: inline-block;
    line-height: 46px;
}
#id1>form{
    width: 88%;
    height: 44px;
    float: right;
}
#id1>form>div{
    margin-top: 6px;
    width: 90%;
    height: 30px;
    border-radius: 25px;
    background-color: #F7F7F7;
}
#id1>form>div>img{
    margin-left: 20px;
    margin-top: 6px;
    display: inline-block;
}
#id1>form>div>input{
    font-size: 12px;
    border: none;
    margin-top: 8px;
    margin-right: 6px;
    width: 83%;
    float: right;
    background-color: #F7F7F7;
}
#id2{
    width: 100%;
    height: 823px;
    display: flex;
}
#id2>div:nth-of-type(1){
    width: 85px;
    height: 100%;
    text-align: center;
    line-height: 46px;
    overflow: auto;
}
#id2>div:nth-of-type(1)>div{
    width: 85px;;
    height: 46px;
    font-size: 14px;
    background-color: #F7F7F7;
}
#id2>div:nth-of-type(2){
    width: 77%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow: auto;
}
#id2>div:nth-of-type(2)>div{
    margin-top: 21px;
    width: 95%;
    height:96%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#id2>div:nth-of-type(2)>div>h4{
    width: 22%;
    height: 2.6%;
    font-size: 14px;
    color: #333;
}
#id2>div:nth-of-type(2)>div>p{
    width: 22%;
    height:  2.6%;
    display: flex;
}
#id2>div:nth-of-type(2)>div>p img{
    margin-top: 3px;
    width: 20%;
    height: 85%;
}
#id2>div:nth-of-type(2)>div>p span{
    width: 60%;
    height: 100%;
    color: #848689;
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
}
#id2>div:nth-of-type(2)>div>ul{
    margin-top: 10px;
    width: 100%;
    height: 95%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#id2>div:nth-of-type(2)>div>ul>li{
    width: 30%;
    height: 20%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
#id2>div:nth-of-type(2)>div>ul>li img{
    width:84%;
    height: 47%;
}
#id2>div:nth-of-type(2)>div>ul>li span{
    width: 100%;
    height: 35px;
    font-size: 12px;
    color: #333;
}
#id3{
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    border: 1px solid #E4E0E0;
}
#id3 img{
    width: 80%;
    height: 90%;
}
#k{
    width: 100%;
    height: 50px;
}